.btn {
	outline: none;
	border: none;
	border-radius: 18px;
	padding: 15px 30px;
	width: 200px;
	cursor: pointer;
	font-weight: 900;
	transition: all 0.3 ease;
}
.primary-btn {
	color: #5508b7;
	background-color: white;
}
.transparent-btn {
	color: #c164d7;
	background-color: transparent;
	border: 2px solid #813789;
}
.other-btn {
	color: black;
	background-color: #ba55d3;
	border: 2px solid white;
}

.btn:hover {
	background-color: #ac4cc7;
	color: white;
	transform: scale(1.08);
}
