.header {
	top: 0;
	z-index: 99;
	padding: 2.5rem 2.5rem;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	position: fixed;
	transition: background-color 0.5s ease-in-out;
}
.header--scrolled {
	padding: 1rem 2.5rem;
	background-color: #bc62e9;
}

.img-logo {
	width: 150px;
	height: 150px;
	margin-top: -35px;
}
@media screen and (max-width: 960px) {
	.header {
		padding: 0rem 0rem;
	}
}
